*~
.lock-waf_linux2_build
data.txt
analyse/data.txt
.waf*
.lock-waf*
.unittest-gtest/*
tools/waf-plugins/*.pyc
build/*
*pyc
*.swp
*.log
*.out
tools/waf-plugins/*
backend/*
backend/tools/waf-plugins/*.pyc
backend/tools/*
*.swp
*.pyc
backend/tools/waf-plugins/*
backend/tools/.*
.lock-waf_linux2_build
src/build-*
*.pro.user
core.*
