time_controller = {
  sleep_time = ["10:14:20-10:30:00", "11:29:20-13:30:00", "03:58:20-08:55:00"];
  close_time = ["14:00:59-14:59:00", "23:00:00-23:59:59"];
  force_close_time = ["16:59:59-17:30:00"];
};

legend = "nf:rg3:am50:mhc:*";
backtest_out_file = "backtest_record";

strategy = (
/*
{ unique_name = "AP";
  pairs = ("AP910", "AP905");
  max_position = 5;
  range_width = 1.5;
  tick_size = 1.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 5.0;
  spread_threshold = 3.0;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
  max_holding_sec = 144000000;
},
{ unique_name = "CF";
  pairs = ("CF909", "CF905");
  max_position = 5;
  range_width = 1.0;
  tick_size = 5.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
  max_holding_sec = 3600;
},
{ unique_name = "FG";
  pairs = ("FG909", "FG905");
  max_position = 5;
  range_width = 1.0;
  tick_size = 1.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},
{ unique_name = "MA";
  pairs = ("MA909", "MA905");
  max_position = 5;
  range_width = 1.0;
  tick_size = 1.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},
{ unique_name = "OI";
  pairs = ("OI909", "OI905");
  max_position = 5;
  range_width = 1.0;
  tick_size = 1.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},
{ unique_name = "fu";
  pairs = ("fu1909", "fu1905");
  max_position = 5;
  range_width = 1.0;
  tick_size = 1.0;
  contract_size = 10;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 36000000000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},

{ unique_name = "cu";
  pairs = ("cu1905", "cu1904");
  max_position = 5;
  tick_size = 10.0;
  range_width = 2.0;
  contract_size = 5;
  min_train_samples= 600;
  cancel_threshhold = 1000000000;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},
*/

{ unique_name = "au";
  pairs = ("au1908", "au1906");
  max_position = 5;
  range_width = 2.0;
  min_train_samples= 600;
  min_range = 2.0;
  min_profit = 1.0;
  add_margin = 1.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},

{ unique_name = "ni";
  pairs = ("ni1906", "ni1905");
  max_position = 50;
  range_width = 2.0;
  min_train_samples= 600;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 3.0;
  spread_threshold = 3.0;
  max_holding_sec = 3600000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},

{ unique_name = "IH";
  pairs = ("IH1906", "IH1903");
  max_position = 2;
  range_width = 2.0;
  min_train_samples= 600;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 3.0;
  spread_threshold = 3.0;
  max_holding_sec = 360000000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},

{ unique_name = "IF";
  pairs = ("IF1906", "IF1903");
  max_position = 2;
  range_width = 2.0;
  min_train_samples= 600;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 3.0;
  spread_threshold = 3.0;
  max_holding_sec = 360000000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
},

{ unique_name = "IC";
  pairs = ("IC1906", "IC1903");
  max_position = 2;
  range_width = 2.0;
  min_train_samples= 600;
  min_range = 4.0;
  min_profit = 1.0;
  add_margin = 3.0;
  spread_threshold = 3.0;
  max_holding_sec = 360000000;
  stop_loss_margin = 1.0;
  max_loss_times = 2;
}

);

data_file = [
  /*
  "/running/quant/data/Ali/2018-11-28/AP9",
  "/running/quant/data/Ali/2018-12-03/AP9",
  "/running/quant/data/Ali/2018-12-05/AP9",
  "/running/quant/data/Ali/2018-12-06/AP9",
  "/running/quant/data/Ali/2018-12-10/AP9",
  "/running/quant/data/Ali/2018-12-11/AP9",
  "/running/quant/data/Ali/2018-12-12/AP9",
  "/running/quant/data/Ali/2018-12-13/AP9",
  "/running/quant/data/Ali/2018-12-14/AP9",
  "/running/quant/data/Ali/2018-12-17/AP9",
  "/running/quant/data/Ali/2018-12-18/AP9",
  "/running/quant/data/Ali/2018-12-19/AP9",
  "/running/quant/data/Ali/2018-12-20/AP9",
  "/running/quant/data/Ali/2018-12-21/AP9",
  "/running/quant/data/Ali/2018-12-24/AP9",
  "/running/quant/data/Ali/2018-12-25/AP9",
  "/running/quant/data/Ali/2018-12-26/AP9",
  "/running/quant/data/Ali/2018-12-27/AP9",
  "/running/quant/data/Ali/2018-12-28/AP9",
  "/running/quant/data/Ali/2018-12-31/AP9",
  "/running/quant/data/Ali/2019-01-01/AP9",
  "/running/quant/data/Ali/2019-01-02/AP9",
  "/running/quant/data/Ali/2019-01-03/AP9",
  "/running/quant/data/Ali/2019-01-04/AP9",
  "/running/quant/data/Ali/2019-01-07/AP9",
  "/running/quant/data/Ali/2019-01-08/AP9",
  "/running/quant/data/Ali/2019-01-09/AP9",
  "/running/quant/data/Ali/2019-01-10/AP9",
  "/running/quant/data/Ali/2019-01-11/AP9",
  "/running/quant/data/Ali/2019-01-14/AP9",
  "/running/quant/data/Ali/2019-01-15/AP9",
  "/running/quant/data/Ali/2019-01-16/AP9",
  "/running/quant/data/Ali/2019-01-17/AP9",
  "/running/quant/data/Ali/2019-01-18/AP9",
  "/running/quant/data/Ali/2019-01-21/AP9",
  "/running/quant/data/Ali/2019-01-22/AP9",
  "/running/quant/data/Ali/2019-01-23/AP9",
  "/running/quant/data/Ali/2019-01-24/AP9",
  "/running/quant/data/Ali/2019-01-25/AP9",
  */
  "/running/quant/data/Ali/2019-01-28/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-01-29/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-01-30/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-01-31/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-01/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-02/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-11/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-12/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-13/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-14/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-15/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-18/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-19/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-20/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-21/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-22/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-25/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-26/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-27/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-02-28/IC|IH|IF|ni|au",
  "/running/quant/data/Ali/2019-03-01/IC|IH|IF|ni|au"
  // "/running/quant/data/Ali/2019-01-15/IC|IH|IF|ni|au"
  // "/running/IC|IH|IF|ni|au"
  ];

matcher_mode = "c++";
message_line = 100000;
