map = (
  {
  ticker = "IC";
  info = "ZhongZheng 500 index futures";
  deposit_rate = 0.15;
  open_fee_rate= 0.000023;
  close_today_fee_rate= 0.00046;
  close_fee_rate = 0.000023;
  contract_size = 1000;
  min_price_move = 0.2;
  cancel_limit = 500;
  },
  {
  ticker = "IF";
  info = "HuSheng 300 index futures";
  deposit_rate = 0.15;
  open_fee_rate= 0.000023;
  close_today_fee_rate= 0.00046;
  close_fee_rate = 0.000023;
  contract_size = 1000;
  min_price_move = 0.2;
  cancel_limit = 500;
  },
  {
  ticker = "IH";
  info = "ShangZheng 50 index futures";
  deposit_rate = 0.15;
  open_fee_rate= 0.000023;
  close_today_fee_rate= 0.00046;
  close_fee_rate = 0.000023;
  contract_size = 1000;
  min_price_move = 0.2;
  cancel_limit = 500;
  },

  {
  ticker = "ni";
  info = "nikeo futures";
  deposit_rate = 0.10;
  open_fee_rate= 0.0006;
  close_today_fee_rate= 0.0006;
  close_fee_rate = 0.0006;
  contract_size = 1;
  min_price_move = 10.0;
  cancel_limit = 500;
  },
  {
  ticker = "au";
  info = "gold futures";
  deposit_rate = 0.05;
  open_fee_rate= 0.0007;
  close_today_fee_rate= 0.0007;
  close_fee_rate = 0.0007;
  contract_size = 1000;
  min_price_move = 0.05;
  cancel_limit = 500;
  }

);
